/*universal selector setting default padding, box size, and margin*/
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
/*class that selects background color of the body*/
body {
    background-color: #d9dcd6;
}
/*class that selects header's placement, font style, font color, and background color in header*/
.header  {
    padding: 20px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: #2a607c;
    color: #ffffff;
}
/*class that selects headers(h1) font size and to display style*/ 
.header h1 {
    display: inline-block;
    font-size: 48px;
}
/*class that selects the letters 'seo' color in header(h1)*/
.header h1 .seo {
    color: #d9dcd6;
}
/*class that selects nav elements font size, padding, margin, and font style in the header*/
.header nav {
    padding-top: 15px;
    margin-right: 20px;
    float: right;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 25px;
}
/*class that selects header text to be displayed in line and next to header(h1)*/
.header nav ul li  {
    display: inline-block;
    margin-left: 25px;
    list-style-type: none;
}
/*class that selects text color for anchored items in menu*/
a { color: #ffffff;
    text-decoration: none;
}
/*class that allows anchored items to change color when mouse hovers over it*/
a:hover {
    color: #d9dcd6;
}
/*class that selects font size of paragraphs*/
p {
    font-size: 20px;
}
/*class that selects dimensions of digital marketing background image*/
.hero {
    height: 800px;
    width: 100%;
    margin-bottom: 25px;
    background-size: cover;
    background-position: center;
}
/*class that selects placement and dimensions of boxes in main section*/
.content {
    width: 75%;
    display: inline-block;
    margin-left: 30px;
}
/*class that selects text placement next to image in search engine and social media boxes*/
.float-left {
    float: left;
    margin-right: 32px;
}
/*class that selects text placement next next to image in online reputation box*/
.float-right {
    float: right;
    margin-left: 32px;
}
/*class that selects (h2)font size and margin underneath main sections box headers*/
.box h2 {
    margin-bottom: 20px;
    font-size: 36px;
}
/*class that selects height of main sections box imgs*/
.box img {
    max-height: 200px;
}
/*class that selects text color and font style within main section boxes; also selects main section boxes' height, padding, background color and margin underneath box*/
.box {
    margin-bottom: 20px;
    padding: 50px;
    height: 300px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #0072bb;
    color: #ffffff;
}
/*class that selects sidebox/aside dimensions and background color, text font and style*/
.benefits {
    margin-right: 20px;
    padding: 20px;
    clear: both;
    float: right;
    width: 20%;
    height: 100%;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #2589bd;
}
/*class that selects text color and margin at bottom of section of each paragraph section in aside*/
.benefit {
    margin-bottom: 40px;
    color: #ffffff;
}
/*class that selects header(h3) text placement and margin underneath the headers in aside*/
h3 {
    margin-bottom: 10px;
    text-align: center;
}
/*class that selects display style, width size, and margin for the imgs in aside*/
.benefit img {
    display: block;
    margin: 10px auto;
    max-width: 150px;
}
/*class that selects padding and display of container(clear) as well as font style and text alignment in footer*/
.footer {
    padding: 30px;
    clear: both;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;
}
/*class that selects font size of the header in footer*/
.footer h2 {
    font-size: 20px;
}